@import '../../assets/styles/_variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 214px;
  padding-bottom: 12px;
  border-bottom: 1px solid $primary-color-medium-grey-navbar;
  margin-right: 62px;
 

  .navbar-title {
    font-size: 22px;
    font-weight: 600;
    color: $primary-color-dark-grey;
    line-height: 34px;
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .dropdown {
    position: relative;
    cursor: pointer;
    

    .dropdown-toggle {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .dropdown-menu {
      position: absolute;
      top: 15px;
      left: -15px;
      border-radius: 8px;
      list-style: none;
      padding: 10px 0;
      min-width: 130px;
      z-index: 100;
      background: rgb(239, 246, 255);
 

      li {
        padding: 10px 15px;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
.dropdown-menu-profile{
  background: rgb(239, 246, 255);
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 8px;
    list-style: none;
    padding: 10px 0;
    min-width: 120px;
    z-index: 100;

    li {
      padding: 10px 15px;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  

}
  .user-profile {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    .user-avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .user-name {
      color: $primary-color-dark-grey;
      font-weight: 400;
      font-size: 16px;
      line-height: 19.36px;
    }
  }

  .dropdown-icon {
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(180deg);
  }
  .flag-icon {
    width: 24px;
    height: 16px;
    margin-right: 8px;
    object-fit: cover;
    border-radius: 2px;
  }
  
}
