@import '../../assets/styles/_variables.scss';
.tabs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  
  .tabs-wrapper {
   
    display: flex;
    position: relative;
    border-bottom: 1px solid $primary-color-medium-grey-navbar; 
    width: 354px;
    
  }
  
  .tabs {
    display: flex;
    width: 50%;
  }
  .tabs {
    display: flex;
    gap: 20px;

    button {
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: $primary-color-general-grey;

        &.active {
            
            color: $primary-color-dark-blue;
            border-bottom: 2px solid $primary-color-dark-blue;
         
        }
    }
}
  
  .tab-button {
    flex: 1;
    text-align: center;
    padding: 12px 15px 12px 12px;
    font-family: 'Geist';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;    
    color: $primary-color-general-grey;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    top: 2px;
  }
  
  .tab-button:hover {
    color: $primary-color-dark-blue;
  }
  
  .tab-button.active {
    color: $primary-color-dark-blue;
   

  }
  

  .buttons {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
  }
  
  .cancel {
    background: none;
    border: 1px solid $primary-color-general-grey;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 145;
    height: 48;
    border-radius: 8px;
    padding-right: 46px;
    padding-bottom: 8px;
    padding-left: 46px;
    gap: 6px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $primary-color-general-grey;;


  }
  
  .cancel:hover {
    background: rgb(141, 172, 207);
  }
  
  .save {
    background: $primary-color-dark-blue;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 130;
    height: 48;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 46px;
    padding-bottom: 8px;
    padding-left: 46px;
    gap: 6px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
 


  }
  
  .save:hover {
    background: rgb(0, 69, 172);
  }
  