$primary-color-dark-grey:rgba(50, 52, 54, 1);
$primary-color-medium-grey:rgb(152, 163, 177);
$primary-color-medium-grey-navbar:rgba(176, 191, 208, 1);
$primary-color-general-grey:rgba(100, 105, 109, 1);
$primary-color-general-grey-opacity:rgba(100, 105, 109, 0.3);
$primary-color-dark-blue:rgba(0, 91, 226, 1);
$primary-color-light-blue:rgba(29, 127, 255, 1);
$primary-color-grey-text:rgba(90, 96, 127, 1);
$primary-color-blue-light:rgba(223, 236, 251, 1);


