$primary-color-dark-grey:rgba(50, 52, 54, 1);
$primary-color-medium-grey:rgb(152, 163, 177);
$primary-color-general-grey:rgba(100, 105, 109, 1);
$primary-color-dark-blue:rgba(0, 91, 226, 1);
$primary-color-grey-text:rgba(90, 96, 127, 1);


